{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}

    <h1> Toutes les images </h1>
    <h2>(Il y a {{ singularToPlural(allPins|length, 'pin') }} )</h2>
    
    
    {% for pin in allPins %}
        <article>
            <h3>{{ pin.title }}</h2>
            <p>{{ pin.description }}</p>
        </article>        
    {% endfor %}

{% endblock %}
